<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>HIBOUKSTORE</title>
    <link rel="stylesheet" href="../../static/services/css/style.css">
</head>
<body>
    <div class="page_content">
        <header>
            <h1>
                HiboukStore-Services
            </h1>
        </header>
        <section>
            <div>
                <a href="/services/IAIB/">
                    <img src="#" alt="">
                    <p>IAIssouBot</p>
                </a>                
            </div>
        </section>
        <footer>

        </footer>
    </div>
</body>
</html>