<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>HIBOUKSTORE</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="page_content">
        <header>
            <h1>
                HiboukStore
            </h1>
        </header>
        <section>
            <div>
                <a href="/services/">
                    <img src="../static/img/services.png" alt="">
                    <p>Services</p>
                </a>                
            </div>
            <div>
                <a href="#">
                    <img src="" alt="">
                    <p>Applications</p>
                </a>                
            </div>
            <div>
                <a href="/games/">
                    <img src="" alt="">
                    <p>Jeux</p>
                </a>                
            </div>
        </section>
        <footer>

        </footer>
    </div>
</body>
</html>